*{
    padding: 0;
    
}
body{
    padding: 0px;
    margin: 0px;
    background:linear-gradient(to bottom,rgba(0, 0, 0,0.7),rgba(0, 0, 0, 0.7)), url(../img/photo-1480714378408-67cf0d13bc1b.jpeg);
    background-size: cover;
    background-position: fixed;
    height: 100vh;
    overflow: hidden;
    box-shadow: 0 5px 50px rgba(0, 0, 0,0.5);
    box-sizing: border-box;
        
}
h1{
    color:white;
    font-size: 25px;
    margin: 13px;
}
form .search{
    border-radius:10px ;
    padding: 4px;
    color: black;
    font-size: 18px;
    margin: 13px;

}
form .suggestions{
    color:white;
    font-size: 25px;
    margin: 13px;
    
}
@media screen and (max-width:480px){

h1{
    color:white;
    font-size: 23px;
    margin: 7px;
}
body{
    padding: 0px;
    margin: 0px;
    background:linear-gradient(to bottom,rgba(0, 0, 0,1.0),rgba(0, 0, 0, 0.7)), url(../img/photo-1480714378408-67cf0d13bc1b.jpeg);
    background-size: cover;
    background-position: fixed;
    height: 100vh;
     box-shadow: 0 5px 50px rgba(0, 0, 0,0.5);
    box-sizing: border-box;
        
}
form .search{
    border-radius:15px ;
    padding: 2px;
    color: black;
    font-size: 18px;
    width: 95%;
    margin: 4px;

}
form .suggestions{
    color:white;
    font-size: 20px;
    margin: 3px;
    padding: 3px;
    
}
}

@media screen and (max-width:320px){
    h1{
        color:white;
        font-size: 20px;
        margin: 7px;
        
    }
    form .suggestions{
        color:white;
        font-size: 17px;
        margin: 7px;
        padding: 3px;
        
    }

}